#gameCanvas {
    display: block;
    margin: auto;
    background-color: #1C421E;
    border: 10px solid #0C2323;
  }
  
  .snake {
    fill: #2A623D;
    stroke: #0C2323;
    stroke-width: 2;
  }
  
  .food {
    fill: #EEE8D5;
    stroke: #0C2323;
    stroke-width: 2;
  }
  
  .score {
    color: #EEE8D5;
    font-family: 'Harry Potter';
    font-size: 24px;
    text-align: center;
  }
  